* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 160px;
    background-color: #1464b8;
}

.logo {
    padding-left: 50px;
}

main {
    background-image: url("/assets/img/Background-ajout.jpg");
    background-size: cover;
    min-height: calc(100vh - 160px);
}

.container {
    width: 1300px;
    margin: auto;
    padding-top: 50px;
}

h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    background-color: #1464b8;
}

fieldset {
    border: none;
    background-color: rgba(244, 232, 232, 0.4);
}

label {
    font-family: sans-serif;
    font-size: 1.1em;
    margin-left: 20px;
}

#cate {
    width: 200px;
    margin-left: 51px;
}

#region {
    width: 200px;
    margin-left: 50px;
}

.listing__sup {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.listing__inf {
    display: flex;
}

.listing__inf__right {
    margin-left: 30px;
}

#listing-description1,
#listing-description2,
#listing-description3 {
    display: block;
}

input[type="File"] {
    font-size: 1em;
}

input[type="submit"] {
    font-size: 1.1em;
    font-weight: 600;
    background-color: limegreen;
    font-family: sans-serif;
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-right: calc(50% - 75px);
    margin-top: 30px;
    border: none;
    padding-block: 10px;
    border-radius: 15px;
    transition: all .4s;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: green;
    color: #ffffff;
}

/* WIDTH */

.width-250 {
    width: 250px;
}

.width-430 {
    width: 430px;
}

/* MARGIN */

.mb-10 {
    margin-block: 10px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-25 {
    margin-left: 25px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-56 {
    margin-left: 56px;
}

.ml-169 {
    margin-left: 169px;
}

.mt-10 {
    margin-top: 10px;
}

/* PADDING */

.pb-5 {
    padding-block: 5px;
}

.pb-20 {
    padding-block: 20px;
}

.pi-10 {
    padding-inline: 10px;
}

.loader{
    margin-top: 40px;
    margin-left: calc(50% - 125px);
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.point1,
.point2,
.point3{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.point1{
    animation: loader 1s 0.1s infinite;
}

.point2{
    animation: loader 1s 0.33s infinite;
}

.point3{
    animation: loader 1s 0.67s infinite;
}

.invisible {
    display: none;
}

.success{
    margin-top: 25px;
    color: limegreen;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

@keyframes loader{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(5);
        }
    100%{
        transform: scale(1);
    }

}